<h1 mat-dialog-title>Edit Destination</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput formControlName="locationEdit">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Budget</mat-label>
      <input matInput formControlName="budgetEdit" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notesEdit"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wishlist</mat-label>
      <mat-select formControlName="wishlistIdEdit">
        <mat-option *ngFor="let wishlist of data.wishlists" [value]="wishlist.id">
          {{ wishlist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="visitedEdit">Visited</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="onSubmit()">Save</button>
</div>
